<div class="row">
    <div class="col-md-6 chart-box">
        <h2>Bar Chart</h2>
        <canvas width="600" height="400" baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'">
        </canvas>
    </div>

    <div class="col-md-6 chart-box">
        <h2>Bar Chart</h2>
        <canvas width="600" height="400" baseChart [data]="barChartData" [options]="barChartOptions" [type]="'pie'">
        </canvas>
    </div>
    
    <div class="col-md-6 chart-box">
        <h2>Bar Chart</h2>
        <canvas width="600" height="400" baseChart [data]="barChartData" [options]="barChartOptions" [type]="'doughnut'">
        </canvas>
    </div>
    
    <div class="col-md-6 chart-box">
        <h2>Bar Chart</h2>
        <canvas width="600" height="400" baseChart [data]="barChartData" [options]="barChartOptions" [type]="'polarArea'">
        </canvas>
    </div>

</div>